<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      ORDER HISTORY
    </ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button class="btn" ion-button icon-left (click)="ShoppingCartPage()">
        <ion-icon name="ios-cart-outline" class="iconBadge"></ion-icon>
        <ion-badge item-end class="badge">{{badge || ""}}
        </ion-badge>
        Cart

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="orderHistory">

  <ion-searchbar (ionInput)="getviewData($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let results of viewData">

    <ion-card>
      <ion-card-header color="primary">
        <ion-row>
          <ion-col  align-self-center>
            <h1>Order Number: {{results.OrderNo}}</h1>
          </ion-col>

          <ion-col>
            <ion-buttons end>
              <button ion-button color="light" round>Email</button>
              <button ion-button round>Share</button>
              <button ion-button color="secondary" round>Print</button>
            </ion-buttons>
          </ion-col>

        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
         

          <ion-col col-5 align-self-center>

            
              <ion-row no-padding >
                <ion-col class="titleStyle" col-4 >Ordered On</ion-col>
                <ion-col col-4>{{results.OrderDate | date}}</ion-col>
              </ion-row>
            

            
              <ion-row no-padding >
                <ion-col class="titleStyle" col-4>Design</ion-col>
                <ion-col col-4>{{results.CustDesign}}</ion-col>
              </ion-row>
      

            
              <ion-row  no-padding >
                <ion-col class="titleStyle" col-4>Shade</ion-col>
                <ion-col col-4>{{results.CustShade}}</ion-col>
              </ion-row>
            

          </ion-col>
          
          <ion-col col-7 align-self-center>


            <ion-row no-padding>
            
                <ion-col class="titleStyle" col-4>Ordered Meters</ion-col>
                <ion-col col-4>{{results.OrdMtrs}}</ion-col>
            </ion-row>
            

            <ion-row no-padding>
            
                <ion-col class="titleStyle" col-4>Dispatched Meters</ion-col>
                <ion-col col-4>{{results.DispatchMtrs}}</ion-col>
            
            </ion-row>

            <ion-row no-padding>
              
                <ion-col class="titleStyle" col-4>Delivered On </ion-col>
                <ion-col col-4>{{results.DeliveryDate | date}}</ion-col>
            
            </ion-row>

          </ion-col>

        </ion-row>

      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>



<!-- 
  <ion-list>

    <table border="1">
      <thead>
        <tr class="tableHeader">
          <th>Order Number</th>
          <th>Ordered On</th>
          <th>Design</th>
          <th>Shade</th>
          <th>Ordered Meters</th>
          <th>Dispatched Meters</th>
          <th>Status</th>
          <th>Delivered On</th>
          <th></th>
        </tr>
      </thead>

      <tr *ngFor="let results of viewData">
        <td>{{results.OrderNo}}</td>
        <td>{{results.OrderDate | date}}</td>
        <td>{{results.CustDesign}}</td>
        <td>{{results.CustShade}}</td>
        <td>{{results.OrdMtrs}}</td>
        <td>{{results.DispatchMtrs}}</td>
        <td></td>
        <td>{{results.DeliveryDate | date}}</td>
      </tr>
    </table>
  </ion-list> -->