<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Product List
    </ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button class="btn" ion-button icon-left (click)="ShoppingCartPage()">
        <ion-icon name="ios-cart-outline"></ion-icon>
        Cart

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>

      <!-- <ion-col>
          <ion-item>
            <ion-label>categories</ion-label>
            <ion-select [(ngModel)]="categories">
              <ion-option value="nes">BookName</ion-option>
            </ion-select>
          </ion-item>
        </ion-col> -->
      <ion-item>
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems($event)" (ionClear)="onCancel()"></ion-searchbar>
      </ion-item>

      <!-- <ion-col>
          <ion-item>
            <button ion-button (click)="find()">FIND</button>
          </ion-item>
        </ion-col> -->

    </ion-list>

    <!-- <ion-row>
      <ion-col>BOOKNAME</ion-col>
      <ion-col>SKU No</ion-col>
      <ion-col>STOCK</ion-col>
    </ion-row>

    <ion-label *ngFor="let results of productList| slice:0: t;">

      <ion-row (click)="productDetails(results)">
        <ion-col>{{results.BookName}}</ion-col>
        <ion-col>{{results.SKUNo}}</ion-col>
        <div *ngIf="results.stock == null; then zero else data"> </div>
        <ng-template #zero>
          <ion-col>{{results.RollMtrs}}</ion-col>
        </ng-template>
        <ng-template #data>
          <ion-col>{{results.stock}}</ion-col>
        </ng-template>
      </ion-row>
      <button ion-button (click)="addToCart(results)">ADD</button>

    </ion-label> -->
    <ion-list>

      <!-- <table border="1">
        <thead>
          <tr class="tableRow">
            <th>IMAGE</th>
            <th>BOOKNAME</th>
            <th>SKU No</th>
            <th class="stock">STOCK</th>
            <th>ADD TO CART</th>
          </tr>
        </thead>

        <tr class="paddingTable" *ngFor="let results of productList| slice:0: t;">
          <td padding=5px>
            <img class="reSize" src="assets/imgs/fabric.jpg">
          </td>
          <td (click)="productDetails(results)" class="paddingTable">{{results.BookName}}</td>
          <td (click)="productDetails(results)" class="paddingTable">{{results.SKUNo }}</td>
          <div *ngIf="results.stock == null; then zero else data"> </div>
          <ng-template #zero>
            <td (click)="productDetails(results)" class="paddingTable">{{results.RollMtrs}}</td>
          </ng-template>
          <ng-template #data>
            <td (click)="productDetails(results)" class="paddingTable">{{results.stock}}</td>
          </ng-template>
          <td style="padding:10px">
            <button ion-button (click)="addToCart(results)" icon-left>Add To Cart&nbsp;
              <ion-icon name="ios-cart-outline"></ion-icon>
            </button>
          </td>
        </tr>

      </table> -->

      <ion-card *ngFor="let results of productList| slice:0: t;">
        <ion-row>
          <ion-col (click)="productDetails(results)">
            <img class="reSize" src="assets/imgs/FabricPage-600x330.png">
          </ion-col>
          <ion-col>
            <td (click)="productDetails(results)" class="paddingTable"> {{results.BookName}} </td>
          </ion-col>
          <ion-col>
            <td (click)="productDetails(results)" class="paddingTable"> {{results.SKUNo}} </td>
          </ion-col>
          <ion-col>
            <div *ngIf="results.stock == null; then zero else data"> </div>
            <ng-template #zero>
              <td (click)="productDetails(results)" class="paddingTable">{{results.RollMtrs}}</td>
            </ng-template>
            <ng-template #data>
              <td (click)="productDetails(results)" class="paddingTable">{{results.stock}}</td>
            </ng-template>
          </ion-col>
          <ion-col>
            <td class="paddingTable">
              <button ion-button (click)="addToCart(results)" icon-left>ADD
                <ion-icon name="ios-cart-outline"></ion-icon>
              </button>
            </td>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

    <!-- <button ion-button (click)="getProductList()">test</button> -->
    <ion-infinite-scroll (ionInfinite)="method($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>