page-product-list {
  .paddingTable {
    padding: 10px;
    margin: 5%;
    font-size: 2rem;
   // background:#e45b5b;
   text-align :center;

  }
  .tableRow{
    color: black;
    padding: 50px ;
    margin: 5% ;
    background:rgb(211, 17, 17);
    font-size: 2rem

  }
.stock{
  padding: 50px ;
}
  .reSize {
    height:300px;
    width: 100%;
  }
}
