<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let results of productInCart ;  let i = index">
      <div text-right>
        <button ion-button clear (click)="remove(results)">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
      <ion-card-header>
        <h2>SKU No: {{results.SKUNo}}</h2>
      </ion-card-header>
      <ion-row>
        <ion-col>
          <img src="assets/imgs/FabricPage-600x330.png">
        </ion-col>
        <ion-col>
          Design : {{results.CustDesign}}
          <br/> Shade : {{results.CustShade}}
          <br/> Width :{{results.Width}}
          <br/> Fresh Meters : {{results.FreshMtrs}}
        </ion-col>
        <ion-col>
          <h4 class="fontStyle">
            Rate</h4>
          <div>&#8377;{{price}}</div>
        </ion-col>
        <ion-col class="inputStyle">
          <h4 class="fontStyle">Quantity</h4>
          <div style="border:1px solid rgb(114, 114, 114) ; height:30% ; width:60%">
            <ion-input (ionChange)="textChange()" class="boxStyle" type="number" [(ngModel)]="quantity[i]">Mtrs</ion-input>
          </div>
        </ion-col>
        <ion-col>
          <h4 class="fontStyle">Total
          </h4>
          <div>&#8377;{{price * quantity[i] || 0}}</div>
        </ion-col>
      </ion-row>

    </ion-card>

    <form class="nl-form" [formGroup]="conditionForm">
      <ion-list radio-group formControlName="conditionFormAddress" [(ngModel)]="radio" no-lines>
        <ion-card>
          <ion-card-header>Select Address</ion-card-header>
          <ion-row>
            <ion-slides>
              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="GOVT COLLEGE ROAD"></ion-radio>
                    <ion-item no-lines>
                      <ion-label class="ion-label2">GOVT COLLEGE ROAD</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="CIVIL LINES"></ion-radio>
                    <ion-item no-lines>
                      <ion-label class="ion-label2">CIVIL LINES</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="ADJOINING IDBI BANK"></ion-radio>
                    <ion-item no-lines>
                      <ion-label>ADJOINING IDBI BANK</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="GOVT COLLEGE ROAD"></ion-radio>
                    <ion-item no-lines>
                      <ion-label class="ion-label2">GOVT COLLEGE ROAD</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="CIVIL LINES"></ion-radio>
                    <ion-item no-lines>
                      <ion-label class="ion-label2">CIVIL LINES</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="ADJOINING IDBI BANK"></ion-radio>
                    <ion-item no-lines>
                      <ion-label>ADJOINING IDBI BANK</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="GOVT COLLEGE ROAD"></ion-radio>
                    <ion-item no-lines>
                      <ion-label class="ion-label2">GOVT COLLEGE ROAD</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="CIVIL LINES"></ion-radio>
                    <ion-item no-lines>
                      <ion-label class="ion-label2">CIVIL LINES</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>

              <ion-slide>
                <ion-col>
                  <div class="slidesStyle">
                    <ion-radio (click)="radioSelect()" value="ADJOINING IDBI BANK"></ion-radio>
                    <ion-item no-lines>
                      <ion-label>ADJOINING IDBI BANK</ion-label>
                    </ion-item>
                  </div>
                </ion-col>
              </ion-slide>
            </ion-slides>
          </ion-row>

        </ion-card>
      </ion-list>
    </form>
    <ion-card>
      <ion-row *ngIf="showButton">
        <ion-col text-center>
          <input class="boxStyle2" (ionChange)="textChange()" placeholder="Discount Code" [(ngModel)]="code" required>
          <button ion-button (click)="discount()">Apply</button>
        </ion-col>
        <ion-col>
          &#8377;{{grandTotal}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!showButton">
        <ion-col>{{text}}</ion-col>
        <ion-col>&#8377;{{grandTotal}} - &#8377;{{this.text2}}</ion-col>
        <ion-col>&#8377;{{afterDisc}}</ion-col>
      </ion-row>
    </ion-card>

    <button ion-button block (click)="continue()" icon-left>Place Order &nbsp;
      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
    </button>
    <!-- <button (click)="testing()"> test</button> -->

  </ion-list>
</ion-content>
