page-shopping-cart {
  .fontStyle {
    font-size: 1em;
  }

  .inputStyle {
    margin-top: -0.3rem;
  }

  .boxStyle {
    height:100%;
    width: 100%;
  }

  .boxStyle2 {
    height: 2.5em;
  }

  .slidesStyle {
    border: 1px solid black;
  }
  .iconBadge {
    position: relative;
    font-size: 2.5em;
  }
  .badge {
    position: absolute;
    background-color: rgb(138, 9, 9);
    border-radius: 50%;
    top: -5px;
    left: 15px;
    font-size: 15px !important;
  }

  .sku {
    font-size: 1em;
  }

  .titleStyle {
    text-transform: uppercase;
    color: rgb(92, 92, 92);
     font-size: 1em;
  }
  .titleStyle1 {
    text-transform: uppercase;
    color: rgb(92, 92, 92);
    font-size: 1em;
  }
  
 .swiper-container{
    padding-bottom:50px;
    position: relative;
  }
}
