page-shopping-cart {
  .fontStyle {
    font-size: 2rem;
  }

  .inputStyle {
    margin-top: -0.3rem;
  }

  .boxStyle {
    width: 80%;
  }

  .boxStyle2 {
    height: 2.5em;
  }

  .slidesStyle {
    border: 1px solid black;
    width: 50%;
  }
}
