// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app.md [padding] .scroll-content {
  padding-left: 20%;
  padding-right: 20%;
}

.badge {
  position: absolute;
  width: 20px;
  background-color: rgb(138, 9, 9);
  top: -3px;
  left: 30px;
  font-size: 15px !important;
  // position: relative;
  border-radius: 50%;
  font-size: 2em;
  //vertical-align: baseline;
  // padding: 2px 6px;
}
ion-badge {
  //font-weight: bold;
  //line-height: 1;
  //position: relative;
  //border-radius: 50%;
  //font-size: 2em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  //vertical-align: baseline;
  padding: 0%;
  //padding: 2px 6px;
}
// .badge-md {
//   border-radius: 50%;
//   background-color: rgb(138, 9, 9);
//   color: #fff;
// }
