page-product-details {
  .productBox {
    text-align: center;
    font-size: 2rem;
  }

  .fontStyle {
    font-size: 3rem;
    font-weight: bold;
  }

  img {
    width: 100%;
    padding-top: 20px;
  }
}
