<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      PRODUCT DETAILS
    </ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button class="btn" ion-button icon-left (click)="ShoppingCartPage()">
        <ion-icon name="ios-cart-outline" class="iconBadge"></ion-icon>
        <ion-badge item-end class="badge">{{badge || ""}}
        </ion-badge>
        Cart
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="productBox">
  <br/>
  <br/>
  <ion-card>
    <ion-card-header color="primary">
      <h1> SKU No: {{SKUNo}}</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <img src="assets/imgs/fabric.jpg">
      </ion-row>
      <ion-row>
        <ion-col class="detailsStyle">
          <span class="titleStyle">Design: </span>
          {{CustDesign}}
        </ion-col>
        <ion-col class="detailsStyle">
          <span class="titleStyle">Color: </span>
          {{CustShade}}
        </ion-col>
        <ion-col class="detailsStyle">
          <span class="titleStyle">Width: </span>
          {{Width}}</ion-col>
        <ion-col class="detailsStyle">
          <span class="titleStyle">Usage : </span>
          {{RollMtrs}}</ion-col>
      </ion-row>
      <ion-row>
        <button *ngIf="!addedToCart" ion-button block (click)="addToCart()" icon-left>
          <ion-icon name="ios-cart-outline"></ion-icon>Add To Cart
        </button>
        <button *ngIf="addedToCart" ion-button block (click)="viewCart()" icon-left>
            <ion-icon name="ios-cart-outline"></ion-icon>InCart
          </button>
      </ion-row>





    </ion-card-content>
  </ion-card>



  <!-- <br/>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <img src="assets/imgs/fabric.jpg">
    </ion-col>
    <ion-col>
      SKU No:- {{SKUNo}}
      <br/>
      <br/>Design :- {{CustDesign}}
      <br/>
      <br/> Color Name :- {{CustShade}}
      <br/>
      <br/> Width :- {{Width}}
      <br/>
      <br/> Usage :- {{FreshMtrs}}
    </ion-col>
    <ion-col>
      <br>
      <br> ₹ {{1000 }}
      <br>
      <br>
      <button ion-button (click)="addToCart()" icon-left>Add To Cart &nbsp;
        <ion-icon name="ios-cart-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row> -->

</ion-content>