page-invoice-history {
  //.invoice {
  //background:rgb(223, 19, 36);
  // }
  .tableHeader {
    color: black;
    padding: 8em;
    // background: hsl(56, 92%, 50%);
    font-size: 2em;
    text-align: center;
  }
  .tableBody {
    //background: white;
    font-size: 2em;
    text-align: center;
    padding: 1em;
    color: black;
  }

  //   td {
  //     padding: 1em;
  //     color: black;
  //   }

  //   .boxStyle {
  //     height: 100px;
  //     width: 100px;
  //     text-align: center;
  //     padding: 10px;
  //   }

  .iconBadge {
    position: relative;
    font-size: 2.5em;
  }
  .badge {
    position: absolute;
    background-color: rgb(138, 9, 9);
    border-radius: 50%;
    top: -5px;
    left: 15px;
    font-size: 15px !important;
  }
  .titleStyle {
    text-transform: uppercase;
    color: rgb(92, 92, 92);
    font-size: 1em;
  }
}
